<h1>{{absRefPrefix}}</h1>
<div class="block textpic block--textpic">
  <div class="center-wrapper">
  <div class="textpic__content content">
      <img src="{{absRefPrefix}}assets/images/avatar.png" alt="image" class="content__image">
      <div class="content__text">{{content}}</div>
    </div>
  </div>
</div>
