<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Default</title>
    <script src="{{absRefPrefix}}js/main.dist.js" charset="utf-8"></script>
    <link rel="stylesheet" href="{{absRefPrefix}}css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{absRefPrefix}}assets/images/favicon.ico">
  </head>
  <body>
    {{> partials/textpic content=content}}
    <a href="./skills">{{linktext}}</a>
  </body>
</html>
