<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Skills</title>
    <script src="{{absRefPrefix}}js/main.dist.js" charset="utf-8"></script>
    <link rel="stylesheet" href="{{absRefPrefix}}css/main.css">
  </head>
  <body>
    {{> partials/textpic content=content}}
  </body>
</html>
