html, body {
  margin: 0;
  padding: 0;
  background-image: url(../assets/images/avatar.png);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: $rowGutter 0;
  font-family: 'Arial', sans-serif;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 3.998em;
  color: $white;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

small,
.font_small {
  font-size: 0.707em;
}

a:link, a:visited, a:hover, a:active {
  color: white;
}
